.label {
  font-size: 18px;
  word-wrap: inherit;
  width: 450px;
}

.error {
  font-size: 16px;
  color: rgb(230, 80, 80);
  padding-top: 4px;
}

.textInputWrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0;
  padding-bottom: 20px;
  width: 450px;

}

.textInput {
  box-sizing: border-box;
  height: 26px;
  width: 100%;
  margin-top: 8px;
  border-style: none;
  border-radius: 5px;
  transition: 0.1s;
}

.textInput:focus,
.textInput:hover {
  outline: 0;
  border-bottom: 1px solid rgb(220, 172, 255);
}

.textInputError,
.textInputError:focus,
.textInputError:hover {
  border-bottom: 1px solid rgb(230, 180, 180);
}
