.menu {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  font-weight: bold;
  color: rgb(60, 60, 60);
  height: 60px;
  width: 180px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 5px 5px 10px rgb(210, 215, 220), -5px -5px 15px white;
  margin: 30px;
}

#startTestButton:hover,
#addAQuestionButton:hover {
  background-color: rgb(100, 200, 200);
  color: white;
  cursor: pointer;
}

#startTestButton:active,
#addAQuestionButton:active {
  background-color: rgb(80, 180, 180);
  color: white;
  box-shadow: none;
}
