.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 400px;
}

.button {
  width: 180px;
  height: 60px;
  margin: 0 30px;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  font-weight: bold;
  color: rgb(60, 60, 60);
  border-radius: 10px;
  border-style: none;
  box-shadow: 5px 5px 10px rgb(210, 215, 220), -5px -5px 15px white;
  transition: ease-in-out 0.2s;
}

#startTestButton:hover,
#addAQuestionButton:hover
{
  background-color: rgb(220, 172, 255);
  color: white;
  cursor: pointer;
}

#startTestButton:active,
#addAQuestionButton:active 
{
  background-color: rgb(205, 140, 250);
  color: white;
  box-shadow: none;
}