@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.App {
  font-family: 'Poiret One', cursive;
  color: rgb(60, 60, 60);
  background-color: rgb(240, 240, 240);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.6px;
}
