@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.App {
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
  font-family: 'Poiret One', cursive;
  color: rgb(60, 60, 60);
  letter-spacing: 0.8px;
}
